img{
    height: 200px;
}


.background-color-lightblue {
    background-color: rgb(26, 188, 156);
}

.color-text-white {
    color: white;
}

/* style - nav */
.sfondo-nav{
    background-color: rgb(44, 62, 80);
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: rgb(26, 188, 156);
}


/* style - jumbotron */
.padding-jumbotron{
    padding-top: 140px;
    padding-bottom: 90px;
}

@media (min-width: 992px){

    h1 {
        font-size: 60px;
    }
}

/* style */
.padding-top-15{
    padding-top: 15px;
}

.padding-top-bootom-70{
    padding-top: 70px;
    padding-bottom: 70px;
}

.download{
    background-color: transparent;
    color: white;
}

/* cards - portafoglio */
.cards:hover{
    background-color: rgb(26, 188, 156);
    opacity: 0.5s;
    transition: opacity 0.5s , background-color 0.5s;
}
