img{
    max-width: 200px;
}

.background-nav {
    background-color: #2d3e50;
}

.text-primary {
    color:  white;
}

.text-secondary {
    color:  #2d3e50;
}

.background-primary {
    background-color: rgb(26, 188, 156);
}

.background-secondary {
    background-color: white;
}

/* decorazione line star */
.line-decoration{
    height: 40px;

}

.line{
    margin-bottom: 4.25px;
    height: 3.5px;
    width: 80px;
    display: inline-block;
    border-radius: 2.5px;
    background-color: white;
}

.span-icon{
    display: inline-block;
    font-size: 20px;
    padding-left: 7px;
    padding-right: 7px;
}

.background-decoration {
    background-color: #2d3e50;
}

/* style - nav */
.sfondo-nav{
    background-color: rgb(44, 62, 80);
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: rgb(26, 188, 156);
}


/* style - jumbotron */
@media (min-width: 992px){

    h1 {
        font-size: 60px;
    }
}

/* padding e margin extra */
.padding-5{
    padding-top: 5px;
    padding-bottom: 5px;
}

.padding-15{
    padding-top: 15px;
    padding-bottom: 15px;
}

.padding-23{
    padding-top: 23px;
    padding-bottom: 13px;
}

.padding-70{
    padding-top: 70px;
    padding-bottom: 70px;
}

.padding-75{
    padding-top: 75px;
    padding-bottom: 75px;
}

/* style button  */

.style-btn-white{
    background-color: transparent;
    color: white;
}

/* cards - portafoglio */
/* .card img{
    height: 200px;
    max-height: 200px;
} */

.cards:hover{
    background-color: rgb(26, 188, 156);
}

.cards:hover{
    opacity: 0.2;
    transition: opacity 0.5s;
}

/* form style */
.form-control{
    border: 0;
    border-bottom: 1px solid lightgray;
    border-radius: 0;
    box-shadow: none;
}

.form-group label{
    font-weight: 500;
}

.form-control:focus{
    box-shadow: none;
    border-color: lightgray;
}

.form-group .btn-default {
    background-color: rgb(26, 188, 156);
    color: white;
    border-color:transparent;
}

/* footer */
[class="footer"]{
    color: white;
}

.footer-top{
    background-color: #2c3e50;
}

.footer-bottom{
    background-color: #1a252f;
}

.social{
    padding: 10px;
}

.social i{
    font-size: 16px;
    border-radius: 100%;
    color: white;
    border: 1px solid white;
    padding: 5px;
    margin-left: 4px;
    margin-right: 4px;
}

.social i:hover{
    background-color: white;
    color: #1a252f;
}
